* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  font-family: monospace;
  font-size: 16px;
  background-color: #fff;
}
.main-l {
  min-width: 100%;
  min-height: 100%;
  position: relative;
  margin: 0 auto;
}
.place-preview-e {
  position: absolute;
  border: 0.0625em solid rgba(0,0,0,0.2);
  background-color: rgba(0,0,0,0.1);
}
.block-e {
  position: absolute;
  border: 0.0625em solid #b1c0d3;
  background-color: #edf3fa;
  border-radius: 0.125em;
}
.block-e.is-invalid {
  border-color: #ff0009;
  background-color: #ff0009;
}
.block-e.is-can-drag {
  cursor: move;
}
.block-e.is-drag {
  box-shadow: 0.25em 0.25em 0.5em #b1c0d3;
  z-index: 10;
}
.tools-l {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 2em;
  background-color: #edf3fa;
  box-shadow: 0 0 0.25em rgba(0,0,0,0.75);
}
.tools-l .btn-b {
  float: left;
}
.iconmelon {
  position: relative;
  width: 2em;
  height: 2em;
  display: block;
  fill: #525151;
}
.iconmelon:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.btn-b {
  display: inline-block;
  padding: 0.5em;
}
.btn-b.is-hoverable {
  cursor: pointer;
}
.btn-b.is-hoverable:hover {
  box-shadow: inset 0 -0.125em 0 #9399a6;
}
.btn-b.is-check {
  box-shadow: inset 0 -0.125em 0 #9399a6;
}
.btn-b .iconmelon {
  width: 1em;
  height: 1em;
  fill: #777f8f;
}
.port,
.event,
.port-ghost,
.event-ghost {
  background-color: #9399a5;
  border-radius: 50%;
  position: absolute;
  width: 1em;
  height: 1em;
}
.port-ghost,
.event-ghost {
  background-color: rgba(147,153,165,0.2);
}
.event {
  border-radius: 3px;
}
.event-ghost {
  width: 2em;
  height: 2em;
  border-radius: 3px;
}
#svg-canvas {
  display: block;
}
#svg-canvas path {
  stroke: #9399a5;
  stroke-width: 0.0625em;
}
#svg-canvas .port,
#svg-canvas .port-arrow {
  fill: #9399a5;
}
#svg-canvas .path-handle {
  stroke: #9399a5;
  fill: #fff;
}
#svg-canvas .path-handle:hover {
  cursor: pointer;
}
