* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  font-family: monospace;
  font-size: 16px;
}
.main-l {
  min-width: 100%;
  min-height: 100%;
  position: relative;
  margin: 0 auto;
  background-color: #343838;
}
.main-l #svg-canvas {
  background-color: #343838;
  background-image: linear-gradient(#005f6b 0.125em, transparent 0.125em), linear-gradient(90deg, #005f6b 0.125em, transparent 0.125em), linear-gradient(#005f6b 0.0625em, transparent 0.0625em), linear-gradient(90deg, #005f6b 0.0625em, transparent 0.0625em);
  background-size: 8em 8em, 8em 8em, 1em 1em, 1em 1em;
  background-position: -0.125em -0.125em, -0.125em -0.125em, -0.0625em -0.0625em, -0.0625em -0.0625em;
}
.place-preview-e {
  position: absolute;
  border: 0.0625em solid rgba(0,0,0,0.2);
  background-color: rgba(0,0,0,0.1);
}
.block-e {
  position: absolute;
  border: 0.0625em solid #00dffc;
  background-color: #00dffc;
  opacity: 0.1;
}
.block-e.is-connect-path {
  box-shadow: 0 0 1em #00dffc;
  cursor: se-resize;
}
.block-e.is-invalid {
  border-color: #ff0009;
  background-color: #ff0009;
}
.block-e.is-drag {
  cursor: move;
  box-shadow: 0 0 1em #12ff00;
}
.tools-l {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 2em;
  background-color: rgba(0,95,107,0.95);
  box-shadow: 0 0 0.25em #000;
}
.tools-l .btn-b {
  float: left;
}
.iconmelon {
  position: relative;
  width: 2em;
  height: 2em;
  display: block;
  fill: #525151;
}
.iconmelon:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.btn-b {
  background-color: #008c9e;
  display: inline-block;
  padding: 0.5em;
}
.btn-b.is-hoverable {
  cursor: pointer;
}
.btn-b.is-hoverable:hover {
  box-shadow: inset 0 -0.125em 0 #00dffc;
}
.btn-b.is-check {
  box-shadow: inset 0 -0.125em 0 #00dffc;
}
.btn-b .iconmelon {
  width: 1em;
  height: 1em;
  fill: #fff;
}
svg {
  display: block;
}
