@import 'colors.styl'
@import 'mixins.styl'

*
	bbox()

body, html
	rect 100%
	margin 0
	padding 0
	overflow-y auto
	font-family monospace
	font-size 16px

.main-l
	min-width  100%
	min-height 100%
	position relative
	margin 0 auto
	background-color #343838
	
	#svg-canvas
		lineColor = #005F6B
		background-image: linear-gradient(lineColor 2*ex, transparent 2*ex),linear-gradient(90deg, lineColor 2*ex, transparent 2*ex),linear-gradient(lineColor ex, transparent ex),linear-gradient(90deg, lineColor ex, transparent ex);
		background-size:8em 8em, 8em 8em, 1em 1em, 1em 1em;
		background-position: -2*ex -2*ex, -2*ex -2*ex, -1*ex -1*ex, -1*ex -1*ex

.place-preview-e
	position: absolute
	border ex solid rgba(0,0,0,.2)
	background-color rgba(0,0,0,.1)

.block-e
	position absolute
	border ex solid rgba(#00DFFC,1)
	background-color rgba(#00DFFC,1)

	&.is-connect-path
		box-shadow 0 0 2*gs #00DFFC
		cursor se-resize

	&.is-invalid
		border-color red

	&.is-drag
		cursor move
		box-shadow 0 0 2*gs #12ff00

.tools-l
	position: fixed
	z-index: 10
	top 0 
	left 0
	width 100%
	height 4*gs
	background-color rgba(#005F6B, .95)
	box-shadow 0 0 (gs/2) black

	.btn-b
		float: left
	
.iconmelon
	position: relative
	rect 4*gs
	display: block
	fill: #525151
	&:after
		content: ''
		position: absolute
		top: 0
		left: 0
		rect 100%

.btn-b
	background-color #008C9E
	display inline-block
	padding gs
	activeShadow = inset 0 (- 2*ex) 0 #00DFFC
	&.is-hoverable
		cursor pointer
		&:hover
			box-shadow activeShadow


	&.is-check
		box-shadow activeShadow


	.iconmelon
		rect 2*gs
		fill white




svg
	display block

















