@import 'colors.styl'
@import 'mixins.styl'

*
	bbox()

body, html
	rect 100%
	margin 0
	padding 0
	overflow-y auto
	font-family monospace
	font-size 16px
	background-color white

.main-l
	min-width  100%
	min-height 100%
	position relative
	margin 0 auto

.place-preview-e
	position: absolute
	border ex solid rgba(0,0,0,.2)
	background-color rgba(0,0,0,.1)

.block-e
	position absolute
	border ex solid #b1c0d3
	background-color #edf3fa
	border-radius 2*ex
	
	&.is-connect-path
		box-shadow 0 0 2*gs #00DFFC
		cursor se-resize

	&.is-invalid
		border-color #ff0009
		background-color #ff0009

	&.is-drag
		cursor move
		box-shadow (gs/2) (gs/2) gs #b1c0d3

.tools-l
	position: fixed
	z-index: 10
	top 0 
	left 0
	width 100%
	height 4*gs
	background-color #cdd3dc
	box-shadow 0 0 (gs/2) rgba(0,0,0,.75)

	.btn-b
		float: left
	
.iconmelon
	position: relative
	rect 4*gs
	display: block
	fill: #525151
	&:after
		content: ''
		position: absolute
		top: 0
		left: 0
		rect 100%

.btn-b
	display inline-block
	padding gs
	activeShadow = inset 0 (- 2*ex) 0 white
	&.is-hoverable
		cursor pointer
		&:hover
			box-shadow activeShadow

	&.is-check
		box-shadow activeShadow

	.iconmelon
		rect 2*gs
		fill #2f3337

#svg-canvas
	display block

	path
		stroke #9399a5
		stroke-width ex

	.port, .port-arrow
		fill #9399a5

	.path-handle
		stroke #9399a5
		fill white
		&:hover
			cursor pointer














