@import 'colors.styl'
@import 'mixins.styl'

*
	bbox()

body, html
	rect 100%
	margin 0
	padding 0
	overflow hidden
	font-family monospace
	font-size 16px

.main-l
	min-width  100%
	min-height 100%
	position relative
	margin 0 auto
	background-color #343838
	lineColor = #005F6B
	background-image: linear-gradient(lineColor 2*ex, transparent 2*ex),linear-gradient(90deg, lineColor 2*ex, transparent 2*ex),linear-gradient(lineColor ex, transparent ex),linear-gradient(90deg, lineColor ex, transparent ex);
	background-size:8em 8em, 8em 8em, 1em 1em, 1em 1em;
	background-position: -2*ex -2*ex, -2*ex -2*ex, -1*ex -1*ex, -1*ex -1*ex

.place-preview-e
	position: absolute
	border 1px solid rgba(0,0,0,.2)
	background-color rgba(0,0,0,.1)

.block-e
	@extends .place-preview-e
	border-color rgba(rgb(c-green1),.95)
	background-color rgba(rgb(c-green1),.75)
	background-color rgba(rgb(c-green1),0.1)


