ex = (1/16)em
gs = 8*ex
br = 3*ex


bbox()
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;

rect(size)
	width size
	height size

hl(color, size=1px)
	outline size solid color
