!!!5
html
	head
		meta(charset='UTF-8')
		title Calypso draw
		link(rel="stylesheet", type="text/css", href="css/main.css")
	body
		include css/icons.svg
		svg(style="position:absolute;margin-left: -100%")
			marker(id = "marker-mid", viewBox = "0 0 12 12", refX = "5", refY = "5", markerUnits = "strokeWidth", markerWidth = "2", markerHeight = "2", fill = "#00DFFC", orient = "auto")
				circle(cx = "5", cy = "5", r = "5")

			marker(id = "marker-start", viewBox = "0 0 12 12", refX = "8", refY = "6", markerUnits = "strokeWidth", markerWidth = "8", markerHeight = "8", fill = "red", orient = "auto")
				circle(cx = "5", cy = "5", r = "5")

			marker(id = "marker-end", viewBox = "0 0 12 12", refX = "0", refY = "6", markerUnits = "strokeWidth", markerWidth = "8", markerHeight = "8", fill = "yellow", orient = "auto")
				circle(cx = "5", cy = "5", r = "5")

		.main-l#js-main(role="main")
			//- svg
			//- 	path(d="M440,664 L 440, 648 L 440, 632 L 440, 616 L 440, 600 L 440, 584 L 440, 568 L 440, 544 a1,1 0 0,1 0,-16", stroke="#00DFFC", stroke-width="2", fill="none", marker-mid="url(#marker-mid)")

		.tools-l#js-tools
			.btn-b.is-hoverable(data-role="path", title="path")#js-tool
				.iconmelon
					svg(viewBox="0 0 32 32")
						use(xlink:href="#pen-feather")

			.btn-b.is-hoverable(data-role="block", title="block")#js-tool
				.iconmelon
					svg(viewBox="0 0 32 32")
						use(xlink:href="#handle-vector")


		script(type='text/javascript', src='js/lib/require.js', data-main='js/main')
