!!!5
html
	head
		meta(charset='UTF-8')
		title Calypso draw
		link(rel="stylesheet", type="text/css", href="css/main.css")
	body
		.main-l#js-main-l
			canvas(id="paths-place", resize)

		script(type="text/javascript", src="js/lib/jquery-2.0.1.js")
		script(type="text/javascript", src="js/lib/md5.js")
		script(type="text/javascript", src="js/jquery.hammer.min.js")
		script(type="text/javascript", src="js/tween.min.js")
		script(type="text/javascript", src="js/dat.gui.min.js")
		script(type="text/javascript", src="js/helpers.js")
		script(type="text/javascript", src="js/paper.js")
		script(type="text/paperscript", src="js/paths.js", canvas="paths-place")

		script(type="text/javascript", src="js/main.js")
