!!!5
html
	head
		meta(charset='UTF-8')
		title Calypso draw
		link(rel="stylesheet", type="text/css", href="css/main.css")
	body
		.main-l#js-main(role="main")
			svg#svg-canvas
				console.log(document.rootElement)

		script(type='text/javascript', src='js/lib/require.js', data-main='js/main')
